# ESMValTool
# recipe_heatwaves_coldwaves_wp7.yml
---
documentation:
  description: |
    Tool to compute the number of days excedding a quantile
    for a minimum number of consecutive days.

  authors:
    - hunt_al
    - pere_nu
    - manu_ni
    - caro_lo

  projects:
    - c3s-magic

datasets:
  - dataset: {{constraints['model']}}
    project: CMIP5
    exp: historical
    ensemble: {{constraints['ensemble']}}
    start_year: {{constraints['start_year_historical']}}
    end_year: {{constraints['end_year_historical']}}
  - dataset: {{constraints['model']}}
    project: CMIP5
    exp: {{constraints['experiment_']}}
    ensemble: {{constraints['ensemble']}}
    start_year: {{constraints['start_year_projection']}}
    end_year: {{constraints['end_year_projection']}}

preprocessors:
  preproc:
    mask_fillvalues:
      threshold_fraction: 0.95
    extract_region:
      start_longitude: 220
      end_longitude: 320
      start_latitude: 30
      end_latitude: 80

diagnostics:
  heatwaves_coldwaves:
    description: Calculate heatwaves and coldwaves.
    variables:
      tasmin:
        preprocessor: preproc
        mip: day
    scripts:
      main:
        script: magic_bsc/extreme_spells.r
        quantile: {{options['quantile']}} # 0.80   # quantile defining the exceedance/non-exceedance threshold
        min_duration: {{options['min_duration']}} # 5  # Min duration of a heatwave/coldwave event in days
        operator: {{options['operator']}} # '<'    # or '>'
        season: {{options['season']}} # winter   # or summer
