# ESMValTool
# recipe_multimodel_products_wp5.yml
---
documentation:
  description: |
    Tool to  compute the ensemble mean anomaly and the ensemble
    variance and agreement and plot the results as maps and time series.

  authors:
    - manu_ni
    - hunt_al
    - pere_nu


  projects:
    - c3s-magic

  references:
    - manubens

datasets:
  {% for model in constraints['models'] %}
  - dataset: {{constraints['models'][loop.index0].data}}
    ensemble: {{constraints['ensembles'][loop.index0].data}}
    project: CMIP5
    exp: 'historical'
    start_year: {{constraints['climatology_start_year']}}
    end_year: {{constraints['climatology_end_year']}}
  - dataset: {{constraints['models'][loop.index0].data}}
    ensemble: {{constraints['ensembles'][loop.index0].data}}
    project: CMIP5
    exp: {{constraints['experiments'][loop.index0].data}}
    start_year: {{constraints['climatology_start_year']}}
    end_year: {{constraints['climatology_end_year']}}
  {% endfor %}
#  - {dataset: bcc-csm1-1, type: exp, project: CMIP5,  mip: Amon,  exp: historical,  ensemble: r1i1p1,  start_year: 1961,  end_year: 1990}
#  - {dataset: MPI-ESM-MR, type: exp, project: CMIP5,  mip: Amon,  exp: historical,  ensemble: r1i1p1,  start_year: 1961,  end_year: 1990}
#  - {dataset: EC-EARTH, type: exp, project: CMIP5,  mip: Amon,  exp: historical,  ensemble: r12i1p1,  start_year: 1961,  end_year: 1990}
#  - {dataset: MPI-ESM-MR, type: exp, project: CMIP5,  mip: Amon,  exp: rcp26,  ensemble: r1i1p1,  start_year: 2006,  end_year: 2099}
#  - {dataset: bcc-csm1-1, type: exp, project: CMIP5,  mip: Amon,  exp: rcp26,  ensemble: r1i1p1,  start_year: 2006,  end_year: 2099}
#  - {dataset: EC-EARTH, type: exp, project: CMIP5,  mip: Amon,  exp: rcp26,  ensemble: r12i1p1,  start_year: 2006,  end_year: 2099}

preprocessors:
  preproc:
    regrid:
      target_grid: {{constraints['models'][0].data}}
      scheme: linear
    mask_fillvalues:
      threshold_fraction: 0.95
    extract_region:
      start_longitude: 0
      end_longitude: 360
      start_latitude: -90
      end_latitude: 90

diagnostics:
  anomaly_agreement:
    description: Calculate multi-member anomalies and their spread/agreement.
    variables:
      tas:
        preprocessor: preproc
        mip: Amon
    scripts:
      main:
        script: magic_bsc/multimodel_products.r

        #Parameters for Season() function
        moninf: {{options['moninf']}} # 6  #If this is null, then the monthly anomalies will be computed
        monsup: {{options['monsup']}} # 6

        agreement_threshold: {{options['agreement_threshold']}}  # 80
        #Time series plot options
        running_mean: {{options['running_mean']}}  # 5 #Length of running mean to use for the time series plot

        # Timeseries plot
        time_series_plot: {{options['time_series_plot']}} # single # Either single or maxmin (plot the mean with/without shading between the max and min.
