# ESMValTool
# recipe_extreme_index_wp7.yml
---
documentation:
  description: |
    Tool to compute time series of a number of extreme events: heatwave,
    coldwave, heavy precipitation, drought and high wind.

  authors:
    - hunt_al
    - pere_nu
    - manu_ni
    - caro_lo

  projects:
    - c3s-magic

  references:
    - alexander

datasets:
  - dataset: {{constraints['model_historical']}}
    project: CMIP5
    mip: day
    exp: historical
    ensemble: {{constraints['ensemble_historical']}}
    start_year: {{constraints['start_year_historical']}}
    end_year: {{constraints['end_year_historical']}}
  - dataset: {{constraints['model_projection']}}
    project: CMIP5
    mip: day
    exp: {{constraints['experiment_projection']}}
    ensemble: {{constraints['ensemble_projection']}}
    start_year: {{constraints['start_year_projection']}}
    end_year: {{constraints['end_year_projection']}}

preprocessors:
  preproc:
    regrid:
      target_grid: {{constraints['model_historical']}}
      scheme: linear
    mask_fillvalues:
      threshold_fraction: 0.95
    extract_region:
      start_longitude: -60
      end_longitude: 40
      start_latitude: 30
      end_latitude: 70

diagnostics:
  extreme_index:
    description: Calculate insurance extreme indices.
    variables:
      tasmax:
        preprocessor: preproc
        mip: day
      tasmin:
        preprocessor: preproc
        mip: day
      sfcWind:
        preprocessor: preproc
        mip: day
      pr:
        preprocessor: preproc
        mip: day

  scripts:
    metric:
      script: magic_bsc/extreme_index.r

      weight_t90p: 0.2
      weight_t10p: 0.2
      weight_Wx: 0.2
      weight_rx5day: 0.2
      weight_cdd: 0.2

      # Compute running mean?
      running_mean: {{options['running_mean']}}
